.gameDetailPanel{
    width: 300px;
    padding :1rem;
    border-left: 2px solid var(--primary-color-04);
    
    .playerDetails{
        display: flex;
        flex-direction: column;
        max-height: 150px;
        text-align: center;
        gap:10px;
    }
}