@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800&display=swap');

*,body{
    margin : 0;
    padding : 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/image/game-bg.jpeg');
    background-size: cover;
    background-position: center center;
}
#root {
    width: 100%;
    height: 100%;
}
:root{
    --primary-color-01 : #fefbe9;
    --primary-color-02 : #f6c453;
    --primary-color-03 : #f0a04b;
    --primary-color-04 : #183a1d;
    --primary-color-05 : #e1eedd;

    --card-color-pink-light : #F8BBD0;
    --card-color-pink-dark : #880E4F;
    
    --card-color-green-light : #e1eedd;
    --card-color-green-dark : #183a1d;
    
    --card-color-blue-light : #e3f2fd;
    --card-color-blue-dark : #283593;
    
    --card-color-yellow-light : #e6ee9c;
    --card-color-yellow-dark : #827717;
}